<%= form_for(@disruption) do |f| %>
  <% if @disruption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disruption.errors.count, "error") %> prohibited this disruption from being saved:</h2>

      <ul>
      <% @disruption.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lon %><br />
    <%= f.text_field :lon %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :startTime %><br />
    <%= f.text_field :startTime %>
  </div>
  <div class="field">
    <%= f.label :lastModTime %><br />
    <%= f.text_field :lastModTime %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
