<p id="notice"><%= notice %></p>

<p>
  <b>Lon:</b>
  <%= @disruption.lon %>
</p>

<p>
  <b>Lat:</b>
  <%= @disruption.lat %>
</p>

<p>
  <b>Starttime:</b>
  <%= @disruption.startTime %>
</p>

<p>
  <b>Lastmodtime:</b>
  <%= @disruption.lastModTime %>
</p>

<p>
  <b>Comments:</b>
  <%= @disruption.comments %>
</p>


<%= link_to 'Edit', edit_disruption_path(@disruption) %> |
<%= link_to 'Back', disruptions_path %>
